h1, h2, h3 {
  font-family: "Gilroy Regular";
  font-weight: 400;
}

p, a {
  font-family: "Gilroy Regular";
  margin-bottom: 0;
  margin-top: 0;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  font-family: "Gilroy Regular";
}

div {
  font-family: "Gilroy Regular";
}

.main {
  background: linear-gradient(90deg, #CAEBFB 0%, rgba(255, 255, 255, 0) 50.67%, #CBEBFB 101.15%);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.main-nav__main-menu {
  width: 60%;
  background-image: url("./bg-menu.svg");
  background-size: 100% 100%;
  padding-left: 100px;
  padding-right: 100px;
  background-repeat: no-repeat;
}
.main-nav__main-menu .main-menu__ul {
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0 auto;
}
.main-nav__main-menu .main-menu__ul li a {
  color: #141414;
}

.phone-and-search a {
  color: #fff;
}

.line-close-one {
  transition: 0.2s;
  transform: translateY(5px) rotate(45deg);
}

.line-close-two {
  transition: 0.2s;
  transform: translateY(-5px) rotate(-45deg);
}

.phone {
  text-decoration: underline;
  text-underline-position: under;
  margin-right: 15px;
  font-size: 16px;
}

.main-header {
  padding-top: 25px;
  padding-bottom: 25px;
  background: #4A82BC;
}

.phone-and-search {
  display: flex;
  max-width: fit-content;
  align-items: center;
}

.round-btn, .round-btn-empty {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 100%;
  margin-right: 15px;
}

.search {
  z-index: 999;
}

.bg-color {
  background: #5176A2 !important;
  border: none;
}

.round-btn-empty {
  border: 1px solid #ffffff;
  background: none;
  margin-right: 0px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide-mask {
  position: absolute;
  background: rgba(49, 98, 149, 0.8);
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.swiper-slide-mask-second {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/img/pluses-slider.svg");
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-image: url("../assets/img/bg-slider.png");
  border-radius: 10px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 12px !important;
  color: #316295;
}

.swiper-button-next, .swiper-button-prev {
  background-color: #fff;
  width: 40px !important;
  height: 40px !important;
  padding: 17px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.swiper-button-next {
  right: 50px;
}

.swiper-button-prev {
  left: 50px;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-weight: bold !important;
}

.main-slider .swiper-button-prev {
  left: 40px;
}
.main-slider .swiper-button-next {
  right: 40px;
}

.slide__title {
  font-size: 48px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
}

.slide__text {
  text-align: left;
  margin-left: 160px;
}

.slide__img {
  margin-right: 80px;
}

.main-slider__container {
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 0;
  padding-right: 0;
}

.main-slider {
  background: rgba(49, 98, 149, 0.88);
  background-border: 1px solid #0071BC;
  background-opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #0071BC;
}

.slide__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  color: #fff;
}
.slide__list li {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: normal;
}

.product-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: #fff;
  box-shadow: 0px 15px 40px rgba(204, 236, 251, 0.34);
  border-radius: 10px;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 371px;
  max-height: 371px;
  margin-bottom: 35px;
}
.product-card__text {
  padding-bottom: 50px;
  min-width: 150px;
}
.product-card__title {
  color: #141414;
  font-size: 28px;
  margin-bottom: 15px;
}
.product-card__price {
  color: #141414;
}
.product-card__img {
  position: relative;
}
.product-card__img img {
  max-width: 100%;
  object-fit: contain;
}

.sale {
  position: absolute;
  top: 20%;
  left: 28%;
  background: #fff;
  color: #316295;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  border-radius: 100%;
  justify-content: center;
}

.big-card .product-card__img {
  margin: 0 auto;
}

.features {
  background: #406C9A;
  position: relative;
  margin-bottom: 118px;
}
.features-mask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/img/features-pluses.svg");
}
.features-item {
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}
.features-item__icon {
  margin-bottom: 30px;
}
.features-item__title {
  font-size: 20px;
  margin-bottom: 20px;
}
.features-item__text {
  font-size: 16px;
}

.main-page-products {
  margin-bottom: 150px;
}

.scroll-line {
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 200px;
}

.scroll-line-item {
  width: 200px;
  height: 80px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  margin: 0 30px;
}

.parenters__text {
  text-align: center;
  margin-bottom: 100px;
}

.partners__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

.partners__subtitle {
  font-size: 18px;
  max-width: 767px;
  margin: 0 auto;
}

.contacts__title {
  margin-bottom: 70px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
}

.contacts__label {
  display: flex;
  color: rgba(15, 15, 15, 0.4);
  font-size: 18px;
  margin-bottom: 30px;
}
.contacts__label svg {
  margin-right: 15px;
}

.contacts__value {
  color: #1B1B1B;
  border-bottom: 1px solid #1B1B1B;
  font-weight: normal;
  font-size: 18px;
}

.contacts-row {
  justify-content: space-between;
  margin-top: 70px;
}

.contact-col {
  padding-left: 15px;
  padding-right: 15px;
}

.contacts {
  padding-bottom: 200px;
}

.contacts__value-p {
  border-bottom: none;
}

.mobile-footer-row {
  display: none;
}

#map {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 6px;
  height: 720px;
}

.footer {
  padding-top: 70px;
  background: #5176A2;
  padding-bottom: 70px;
}
.footer__logo {
  margin-bottom: 34px;
}
.footer__copyright {
  color: #ffffff;
  font-size: 12px;
}
.footer__copyright p {
  opacity: 0.5;
}
.footer__copyright .author {
  margin-top: 20px;
  margin-bottom: 40px;
}
.footer__copyright .author a {
  border-bottom: 1px solid #fff;
  color: #fff;
}
.footer__social-medias {
  display: flex;
}

.footer-icon {
  background-color: #0EA4C1;
  border-radius: 100%;
  height: 46px;
  width: 46px;
  margin-right: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-list__title {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 30px;
  display: block;
}
.footer-list__title:hover {
  text-decoration: none;
  color: #ffffff;
}

.footer-list li {
  margin-bottom: 15px;
}

.footer-list li a {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 15px;
  display: inline;
}
.footer-list li a:hover {
  text-decoration: none;
  color: #fff;
}

.worktime {
  color: #ffffff;
  font-size: 16px;
  display: block;
  margin-top: 45px;
  font-family: "Gilroy Regular";
}

.up {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 30px;
  display: block;
}
.up:hover {
  color: #fff;
}
.up svg {
  margin-right: 12px;
}

.b-bottom {
  border-bottom: 1px solid #fff;
}

.main-footer-row {
  justify-content: space-between;
}

.border-bottom {
  border-bottom: 1px solid #fff;
}

.up-container {
  padding-right: 15px;
}

.hamburger {
  display: none;
}

.swiper-pagination {
  display: none;
}

.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination-bullet {
  background: #fff;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 30px;
}

.search-sect {
  display: none;
}

.city-search {
  position: absolute;
  background: #fff;
  width: 100%;
  top: 0;
  padding-top: 120px;
  z-index: 99;
  z-index: 10;
}

.city-search-main {
  background: #fafafc;
  min-height: 100vh;
}

.search-city {
  margin-top: 63px;
}
.search-city .finder {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.search-city .finder .search-city__input {
  background: none;
  border: none;
  border-radius: 0;
  font-size: 16px;
  background-image: url(../assets/img/search.svg);
  background-repeat: no-repeat;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 44px;
  background-position-y: center;
  width: 100%;
  border-bottom: 1px solid #5176A2;
  font-family: "Gilroy regular";
  margin-bottom: 100px;
}
.search-city .finder .search-city__input:focus {
  outline: none;
}

.search-city-main {
  background: #DEDEDE;
}

.search-submit {
  height: 40px;
  width: 40px;
  background-color: #5176A2;
  border-radius: 100%;
  background-image: url("../assets/img/arrow-right.svg");
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  position: absolute;
  right: 23px;
  top: -13px;
}
.search-submit:hover {
  cursor: pointer;
}

.search-mask {
  position: absolute;
  top: 0;
  z-index: 10;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.search-mask-body {
  position: absolute;
  top: 0;
  z-index: 10;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  transition: 0.2s;
}

.aside-catalog-cross {
  position: absolute;
  right: 30px;
  top: 20px;
}
.aside-catalog-cross:hover {
  cursor: pointer;
}

.noscroll {
  overflow: hidden;
}

.search-mask-body-show {
  visibility: visible;
  transition: 0.2s;
}

.city-search .search {
  background: #5176A2;
  position: absolute;
  top: 16px;
  right: 50px;
}

.contacts__title {
  margin-bottom: 70px;
}

.show {
  display: block;
}

.open {
  overflow: hidden;
  padding-right: 15px;
}

.contacts-row-mobile {
  display: none;
}

.collapsed svg {
  transform: rotate(180deg);
}

.breadcrumbs-ul {
  display: flex;
  list-style: none;
  align-items: center;
}
.breadcrumbs-ul .breadcrumbCustom {
  color: #000000;
  font-size: 14px;
}
.breadcrumbs-ul .breadcrumbCustom a {
  color: #B8B6BF;
}
.breadcrumbs-ul .breadcrumbCustom::after {
  content: "";
  width: 12px;
  height: 12px;
  background: #000;
  display: inline-block;
  background: url(../assets/img/chevron-right.svg);
  margin-left: 10px;
  margin-right: 10px;
}
.breadcrumbs-ul .breadcrumbCustom-active::after {
  display: none;
}

.breadcrumbs-ul li:first-child a {
  color: #000;
}

.filter {
  background: #fff;
  width: 100%;
  padding-top: 30px;
}

.filter-title-row {
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.filter-title {
  font-size: 48px;
}

.main-btn {
  display: block;
  background: #5176A2;
  color: #fff;
  border-radius: 100px;
  padding: 20px 75px;
  text-align: center;
  max-width: fit-content;
  transition: 0.2s;
}
.main-btn:hover {
  color: #fff;
  background: #638fc3;
  transition: 0.2s;
}

.main-btn-col {
  display: flex;
  justify-content: flex-end;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container-for-filter {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Gilroy Regular";
}
.container-for-filter input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: rgba(27, 27, 27, 0.03);
  border-radius: 25px;
  margin-top: 2px;
}

.checkmark:after {
  content: "";
  position: absolute;
}

.checkmark-fill {
  background-color: #5176A2;
  background-image: url(../assets/img/checkbox.svg);
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center;
}

.container-for-filter:hover input ~ .checkmark {
  background-color: rgba(27, 27, 27, 0.03);
}
.container-for-filter input:checked ~ .checkmark {
  background-color: #5176A2;
  color: #5176A2;
  background-image: url(../assets/img/checkbox.svg);
  background-repeat: no-repeat;
  background-size: 55% 52%;
  background-position: 55%;
}

.container-for-filter input:checked ~ .checkmark:after {
  display: block;
}
.container-for-filter .checkmark:after {
  left: 4.5px;
  top: 5px;
  width: 9px;
  height: 9px;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

.filter-ul__title {
  color: #141414;
  font-size: 24px;
  margin-bottom: 30px;
}

.filter-title-row {
  margin-bottom: 100px;
}

.products-sort-top-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.product-card-filter {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-direction: column;
  background: #fff;
  box-shadow: 0px 15px 40px rgba(204, 236, 251, 0.34);
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 35px;
  padding-bottom: 40px;
}
.product-card-filter__img {
  margin: 0 auto;
}
.product-card-filter__img img {
  max-width: 100%;
}

.product-card-filter__title {
  font-size: 24px;
  color: #000;
  margin-bottom: 5px;
  font-weight: bold;
}

.product-card-filter__subtitle {
  font-size: 16px;
  opacity: 0.5;
  color: #141414;
  margin-bottom: 15px;
}

.product-card-filter__accord .card {
  background: none;
  border: none;
}
.product-card-filter__accord .card-body {
  padding: 0;
}
.product-card-filter__accord .card-header {
  background: none;
  padding: 0;
  border: none;
}
.product-card-filter__accord .card-header .btn-link {
  width: 100%;
  background: none;
  padding: 0;
  text-align: left;
  color: #5176A2;
  margin-bottom: 30px;
  text-decoration: none;
}
.product-card-filter__accord .card-header .btn-link:hover {
  text-decoration: none;
}
.product-card-filter__accord .card-header .btn-link svg {
  margin-left: 12px;
}

.product-card-filter__btn {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  padding: 20px 0px;
  font-size: 18px;
  background: #ffffff;
  border: 1px solid #5176A2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5176A2;
  transition: 0.2s;
}
.product-card-filter__btn svg {
  margin-right: 12px;
}
.product-card-filter__btn:hover {
  transition: 0.2s;
  background: #5176A2;
  color: #ffffff;
}
.product-card-filter__btn:hover svg path {
  fill: #fff;
}

.char-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #000;
}

.separator {
  height: 1px;
  background: #E8E8E8;
  width: 100%;
  margin-left: 22px;
  margin-right: 22px;
}

.char-item-label {
  min-width: fit-content;
}

.collapsing {
  transition: none;
}

.product-card-filter__container {
  margin-bottom: 30px;
  display: flex;
}

.product-card-filter.char-item {
  color: #000;
}
.product-card-filter:hover .char-item {
  color: #000;
}

.big-btn {
  margin: 0 auto;
  margin-bottom: 150px;
}

.mobile-menu {
  height: calc(100% - 75px);
  width: 100%;
  transform: translateX(100%);
  position: fixed;
  z-index: 1;
  top: 92px;
  right: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.5s;
  padding-top: 40px;
  background: #5176a2;
  z-index: 99;
}

.block {
  display: block;
}

.product-card-filter {
  width: 100%;
}

.mobile-menu-list {
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid rgba(246, 246, 246, 0.5);
}
.mobile-menu-list li a {
  display: block;
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 30px;
}
.mobile-menu-list #footer-accordion .card .footer-list li a {
  font-size: 16px;
}
.mobile-menu-list #footer-accordion .card-body {
  padding-top: 0px;
  padding-bottom: 0px;
}

.mobile-menu-contacts {
  padding-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
}
.mobile-menu-contacts li {
  color: #ffffff;
  font-size: 24px;
}

.mobile-menu-item {
  color: #ffffff;
  font-size: 16px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.mobile-menu-item svg {
  margin-right: 15px;
}
.mobile-menu-item .worktime {
  margin-top: 0;
}
.mobile-menu-item .mobile-tel {
  color: #ffffff;
  text-decoration: underline;
  text-underline-position: under;
}

.aside-menu-catalog {
  height: 100%;
  width: 37%;
  transform: translateX(-100%);
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0;
  right: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
  padding-top: 40px;
  background: #fff;
  z-index: 99;
}
.aside-menu-catalog .mobile-menu {
  background: #fff;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.aside-list {
  padding-left: 150px;
  padding-top: 100px;
  padding-right: 80px;
}
.aside-list li {
  margin-bottom: 40px;
}
.aside-list li a {
  font-size: 16px;
  font-weight: bold;
  color: #141414;
}
.aside-list li a:hover {
  color: #5176A2;
  text-decoration: none;
}

.main {
  overflow: hidden;
}

.show-menu {
  transform: translateX(0);
}

.show-aside {
  transform: translateX(0);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 200px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 15px 5px;
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.simple-link {
  color: #5176A2;
  margin-right: 5px;
}
.simple-link:hover {
  color: #5176A2;
}

.products-count {
  color: #1B1B1B;
  opacity: 0.5;
  font-size: 16px;
}

.reset {
  color: #5176a2;
  display: flex;
  align-items: center;
}
.reset svg {
  margin-left: 10px;
}

.dropdown-content-list li {
  padding: 16px 30px;
  color: #1b1b1b;
}
.dropdown-content-list li a {
  color: #1b1b1b;
}

.mobile-products-count {
  display: none;
}

.allfilter-mobile {
  display: none;
}

.nav-is-toggled .nav-drill, .nav-is-toggled .nav-drill-filter, .nav-is-toggled .nav-drill-header {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.nav-is-toggled-filter .nav-drill-filter {
  transform: translateX(0);
}

.nav-is-toggled-header .nav-drill-header {
  transform: translateX(0);
}
.nav-is-toggled-header::after {
  opacity: 1;
  visibility: visible;
}

.nav-drill, .nav-drill-filter, .nav-drill-header {
  display: -webkit-box;
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  width: 100%;
  transform: translateX(100%);
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: 0.45s;
  transition: 0.45s;
  min-height: 200vh;
}

.nav-items {
  -webkit-box-flex: 0;
  margin-top: 0px;
  flex: 0 0 100%;
  padding: 0;
  list-style: none;
  height: 100%;
  overflow-x: scroll;
  max-height: 100vh;
}

.nav-item:not(:last-child) {
  border-bottom: solid 1px #fff;
}

.nav-link {
  display: block;
  padding: 0.875em 1em;
  background-color: #5176A2;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 300;
}
.nav-link:hover {
  color: #fff;
}
.nav-link:focus {
  color: #fff;
}

.nav-expand-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  background-color: #daf9f4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  visibility: hidden;
}
.nav-expand-content .nav-item:not(:last-child) {
  border-bottom: solid 1px #fff;
}
.nav-expand-content .nav-link {
  background-color: #daf9f4;
}
.nav-expand-content .nav-back-link {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: #fff;
}
.nav-expand-content .nav-back-link::before {
  content: "";
  width: 6px;
  height: 10px;
  margin-right: 12px;
  background-image: url("../assets/img/chevron-left-white.svg");
  background-size: cover;
}

.nav-expand-link {
  display: -webkit-box;
  display: flex;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.nav-expand-link::after {
  content: "";
  width: 6px;
  height: 10px;
  background-image: url("../assets/img/chevron-right-white.svg");
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  background-size: cover;
}

.nav-expand.active > .nav-expand-content {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  visibility: visible;
  z-index: 10;
}
.nav-expand .nav-expand-content {
  background-color: #fff;
}
.nav-expand .nav-expand-content .nav-link {
  background-color: #5176A2;
}
.nav-expand .nav-expand-content .nav-expand-content {
  background-color: #fff;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-link {
  background-color: #5176A2;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-expand-content {
  background-color: #fff;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-link {
  background-color: #5176A2;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-expand-content {
  background-color: #5176A2;
}
.nav-expand .nav-expand-content .nav-expand-content .nav-expand-content .nav-expand-content .nav-link {
  background-color: #5176A2;
}

.breadcrumbs-sect {
  padding-top: 30px;
  margin-bottom: 70px;
}

.product-item-card__img {
  background: #fff;
  padding-bottom: 65px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  height: 100%;
  padding-top: 28px;
  padding-left: 30px;
  padding-right: 30px;
}
.product-item-card__img img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}

.product-item-card__img-btns {
  display: flex;
  justify-content: space-between;
  max-width: 450px;
  margin: 0 auto;
}

.img-btn {
  display: flex;
  align-items: center;
  color: #5176A2;
  text-decoration: underline;
  text-underline-position: under;
}
.img-btn svg {
  margin-right: 25px;
}
.img-btn:hover {
  color: #5176A2;
}

.characteristics {
  background: #ffffff;
  border-radius: 10px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 35px;
  padding-bottom: 60px;
  height: 100%;
}
.characteristics__title {
  font-size: 32px;
  margin-bottom: 100px;
}
.characteristics .blue-btn {
  background: #5176A2;
  color: #fff;
  margin-bottom: 20px;
  transition: 0.2s;
}
.characteristics .blue-btn:hover {
  color: #fff;
  background: #638fc3;
  transition: 0.2s;
}
.characteristics .char-list {
  margin-bottom: 100px;
}
.characteristics .char-item-label {
  font-size: 20px;
}
.characteristics .char-item {
  margin-bottom: 30px;
}

.row-product-item-card {
  margin-bottom: 50px;
}

.product-item-card {
  background: #ffffff;
  border-radius: 10px;
}

.basket-tabs__header {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(27, 27, 27, 0.1);
}
.basket-tabs__header li {
  font-size: 18px;
  color: #1B1B1B;
  opacity: 0.3;
  padding-bottom: 14px;
  margin-right: 11%;
}
.basket-tabs__header li:hover {
  cursor: pointer;
}
.basket-tabs__header .active {
  opacity: 1;
  color: #5176A2;
  border-bottom: 1px solid #5176A2;
}

.tab-content {
  max-width: 100%;
  padding-top: 70px;
}

.main-input {
  padding: 18px 30px;
  background: rgba(27, 27, 27, 0.03);
  font-family: "Gilroy Medium";
  outline: none;
  border: none;
  border-radius: 6px;
  width: 100%;
}

.coupon-form {
  max-width: 530px;
  position: relative;
}

.hamburger-menu {
  display: none;
}

.coupon-submit {
  background: #0C9CB8;
  width: 60px;
  height: 60px;
  border-radius: 6px;
  outline: none;
  border: none;
  position: absolute;
  right: 0px;
  background-image: url(../assets/img/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.basket-tabs__lines {
  position: relative;
  margin-top: 14px;
  margin-bottom: 30px;
}
.basket-tabs__lines .underline {
  position: absolute;
  left: 0px;
  top: 0px;
  max-width: 531px;
}
.basket-tabs__lines .active-line {
  position: absolute;
  top: 0px;
  left: 0;
  max-width: 531px;
  max-width: 112px;
  transition: 0.5s;
  transform: translateX(0);
}

.tab-content__item {
  display: none;
}

.tab-content__item.active {
  display: block;
}

.tabs {
  background: #ffffff;
  border-radius: 10px;
  margin-bottom: 150px;
}

.tab-header {
  padding-left: 50px;
  padding-top: 34px;
}

.tab-content-title {
  font-size: 24px;
  margin-bottom: 50px;
}

.tab-content__item {
  padding-left: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
}
.tab-content__item p {
  margin-bottom: 30px;
  font-size: 18px;
}

.tab-photo {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.tab-photo img {
  max-width: 100%;
  display: block;
}

.photo-card {
  max-width: 30%;
  flex: 0 0 30%;
}

.mobile-product-title {
  display: none;
}

.mobile-product-item-accord {
  display: none;
}

.storage__title {
  font-size: 48px;
  margin-bottom: 70px;
  padding-top: 30px;
}
.storage-card__title {
  font-size: 24px;
  margin-bottom: 30px;
}
.storage-card {
  background: #fff;
  border-radius: 10px;
  padding: 50px;
  padding-bottom: 30px;
  margin-bottom: 150px;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.04);
}
.storage-card__item {
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.storage-card__item-value {
  opacity: 0.5;
  margin-left: 30px;
  white-space: nowrap;
}
.storage-card__item p {
  font-size: 18px;
}

.about-shop {
  margin-bottom: 120px;
}

.about-shop__img img {
  max-width: 100%;
}

.about-shop__title {
  font-size: 32px;
  margin-bottom: 50px;
  font-weight: bold;
}

.about-shop__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-shop__text {
  font-size: 18px;
  margin-bottom: 30px;
}

.about-shop__text:last-child {
  margin-bottom: 0px;
}

.about-shop__mobile-img {
  display: none;
}

.contacts-page .contacts__title {
  text-align: left;
}

.modal-content {
  border-radius: 4px;
  border: none;
}

.modal-form__title {
  font-size: 36px;
  font-weight: bold;
}

.modal-body {
  padding: 40px;
  padding-top: 0px;
}

.modal-header {
  padding-bottom: 0px;
  padding-top: 20px;
}

.modal-form__title {
  margin-bottom: 30px;
}

.modal-header {
  border-bottom: 0px;
}

.modal-body .main-input {
  display: block;
}

.modal-body .form-card__input-container {
  display: block;
}

.modal-body .form-card__input {
  max-width: 100%;
}

.modal-body .form-card__label {
  width: 100%;
  margin-bottom: 30px;
}

.modal-footer {
  border-top: 0px;
}

.submit-btn {
  outline: none;
  border: none;
  margin-top: 30px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.submit-btn:hover {
  cursor: pointer;
}

.modal-header .close:focus {
  outline: none;
  border: none;
}

.grey {
  color: #141414;
  opacity: 0.5;
  font-size: 12px;
  text-align: center;
}
.grey a {
  color: #141414;
  border-bottom: 1px solid #141414;
}

.filter-btn-row {
  justify-content: center;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

[class*=ymaps-2][class*=-ground-pane] {
  filter: url("data:image/svg+xmlutf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
}

@media (min-width: 1440px) {
  .container {
    max-width: 1300px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1400px;
  }
}
@media (min-width: 1900px) {
  .container {
    max-width: 1650px;
  }
}
@media (max-width: 1440px) {
  .storage-card__item p {
    font-size: 16px;
  }

  .main-nav__main-menu .main-menu__ul {
    width: 100%;
  }

  .features-item {
    padding-left: 0;
    padding-right: 0;
  }

  .product-card-filter {
    padding-left: 15px;
    padding-right: 15px;
  }

  .characteristics {
    padding-left: 30px;
    padding-right: 30px;
  }
  .characteristics .char-item-label {
    font-size: 16px;
  }

  .characteristics__title {
    font-size: 28px;
  }

  .aside-list {
    padding-top: 50px;
  }
  .aside-list li {
    margin-bottom: 30px;
  }
}
@media (max-width: 1024px) {
  .filter-btn-row {
    display: none;
  }

  .filter-btn-mobile {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .filter-btn-mobile a {
    width: 100%;
    max-width: 100%;
  }

  .main-nav__main-menu {
    padding-left: 50px;
    padding-right: 50px;
  }

  .main-nav__main-menu {
    width: 50%;
  }

  .filters-ul-row {
    display: none;
  }

  .allfilter-mobile {
    font-size: 24px;
    padding-bottom: 36px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .product-card-filter__container {
    max-width: 50%;
    flex: 50%;
  }

  .products-sort-top-list {
    display: none;
  }

  .products {
    padding-top: 30px;
  }

  .cross-filter {
    display: flex;
    padding-right: 15px;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-top: 15px;
  }

  .nav__title {
    display: flex;
    justify-content: center;
    color: #242424;
    font-family: "Gilroy Medium";
    margin-bottom: 30px;
    font-size: 20px;
    margin-top: 20px;
  }

  .allfilter-mobile {
    display: flex;
    justify-content: space-between;
  }

  .filter-title {
    text-align: center;
    margin-bottom: 15px;
  }

  .nav-expand-content .cross-filter {
    position: absolute;
    right: 0;
    top: -2px;
  }
  .nav-expand-content .cross-filter svg rect {
    fill: #fff;
  }
}
@media (max-width: 768px) {
  .breadcrumbs-sect {
    margin-bottom: 50px;
  }

  .row-product-item-card .col-lg-7 {
    margin-bottom: 20px;
  }

  .characteristics__title {
    display: none;
  }

  .characteristics {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .basket-tabs__header {
    justify-content: center;
    padding-top: 20px;
  }

  .basket-tabs__header {
    padding-bottom: 0px;
  }

  .characteristics .char-list {
    margin-bottom: 40px;
  }

  .tab-content {
    padding-top: 30px;
  }

  .tab-content-title {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .tab-content__item p {
    font-size: 16px;
  }

  .row-product-item-card {
    margin-bottom: 20px;
  }

  .tab-content__item {
    padding-bottom: 10px;
  }

  .tabs {
    margin-bottom: 100px;
  }

  .mobile-product-title {
    display: block;
    text-align: center;
  }
  .mobile-product-title h2 {
    font-size: 32px;
    margin-bottom: 30px;
  }

  .products {
    margin-top: 30px;
  }

  .big-btn {
    max-width: 100%;
    margin-bottom: 100px;
  }

  .filter-title-row {
    margin-bottom: 80px;
  }

  .mobile-menu-list {
    margin-left: 40px;
    margin-right: 40px;
  }

  .mobile-menu-contacts {
    margin-left: 40px;
    margin-right: 40px;
  }

  .allfilter-mobile {
    font-size: 24px;
    padding-bottom: 36px;
    align-items: center;
  }

  .nav-expand-content .cross-filter {
    position: absolute;
    right: 0;
    top: -2px;
  }
  .nav-expand-content .cross-filter svg rect {
    fill: #fff;
  }

  .products-sort-top-list {
    display: none;
  }

  .cross-filter {
    display: flex;
    padding-right: 15px;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-top: 15px;
  }

  .nav__title {
    display: flex;
    justify-content: center;
    color: #242424;
    font-family: "Gilroy Medium";
    margin-bottom: 30px;
    font-size: 20px;
    margin-top: 20px;
  }

  .allfilter-mobile {
    display: flex;
    justify-content: space-between;
  }

  .filter-title {
    text-align: center;
    margin-bottom: 15px;
  }

  .mobile-products-count {
    display: block;
    opacity: 0.5;
    color: #141414;
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
  }

  .main-btn-col .main-btn {
    width: 100%;
    max-width: 100%;
  }

  .filters-ul-row {
    display: none;
  }

  .features-mask {
    background: url("../assets/img/features-bg-mb.svg");
    background-repeat: no-repeat;
    background-size: contain;
    top: -5px;
  }

  .breadcrumbs-ul {
    flex-wrap: wrap;
  }

  .features {
    padding-top: 70px;
    padding-bottom: 20px;
    margin-bottom: 70px;
  }

  .parenters__text {
    margin-bottom: 70px;
  }

  .features-item {
    padding-top: 0px;
  }

  .scroll-line {
    margin-bottom: 80px;
  }

  .main-nav__main-menu {
    display: none;
  }

  .phone {
    display: none;
  }

  .search {
    display: none;
  }

  .main-slider-sect .container {
    max-width: 100%;
    padding: 0;
  }

  .main-slider__container {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .swiper-slide {
    border-radius: 0;
  }

  .swiper-slide-mask {
    border-radius: 0;
  }

  .slide__img {
    max-width: 50%;
    margin-right: 0;
  }
  .slide__img img {
    max-width: 400px;
  }

  .slide__text {
    padding-right: 0;
    margin-left: 40px;
  }

  .swiper-button-prev {
    top: 77%;
  }

  .swiper-button-next {
    right: auto;
    left: 115px;
    top: 77%;
  }

  .hamburger {
    display: block;
  }
  .hamburger .line {
    height: 2px;
    width: 24px;
    border-radius: 5px;
    background: #fff;
    transition: 0.2s;
  }
  .hamburger .line:first-child {
    margin-bottom: 8px;
  }

  .main-page-products {
    margin-bottom: 35px;
  }

  .contact-col {
    max-width: 50%;
    flex: 50%;
    margin-bottom: 60px;
  }

  #footer-accordion #catalog-btn {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .header-mobile #footer-accordion .card {
    border-top: none;
  }
  .header-mobile #footer-accordion .card .card-header {
    margin: 0;
  }

  .header-mobile #footer-accordion {
    padding: 0;
  }

  .swiper-pagination {
    display: block;
  }

  #map {
    height: 364px;
  }

  .contacts {
    padding-bottom: 20px;
  }

  .mobile-footer-row {
    display: block;
  }

  .main-footer-row {
    display: none;
  }

  .footer__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__logo .b-bottom {
    color: #fff;
    border-bottom: none;
    font-size: 16px;
    text-decoration: underline;
    text-underline-position: under;
  }

  #footer-accordion .card {
    background: none;
    display: flex;
    border: none;
    outline: none;
    border-top: 1px solid rgba(246, 246, 246, 0.1);
  }
  #footer-accordion .card-header {
    background: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 0;
    padding: 0;
    margin: 10px 0px;
  }
  #footer-accordion .btn-link {
    width: 100%;
    padding: 0;
    text-align: left;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
  }
  #footer-accordion .btn-link:hover {
    text-decoration: none;
  }

  .mobile-footer-list {
    margin-bottom: 30px;
  }
  .mobile-footer-list li {
    padding: 10px 0px;
    border-top: 1px solid rgba(246, 246, 246, 0.1);
    margin-bottom: 0;
  }
  .mobile-footer-list li a {
    font-size: 16px;
  }
  .mobile-footer-list li:last-child {
    border-bottom: 1px solid rgba(246, 246, 246, 0.1);
  }

  .card-body {
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer-logo-img img {
    max-width: 100px;
  }

  .footer {
    padding-top: 16px;
    padding-bottom: 20px;
  }

  .up-col-mobile {
    width: 100%;
    flex: 1;
    text-align: center;
  }

  .copyright-row {
    margin-left: 0;
    margin-right: 0;
  }

  .footer-mobile-left-col {
    border-bottom: 1px solid rgba(246, 246, 246, 0.1);
    padding: 0;
  }

  .footer__copyright .author {
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .up-col-mobile {
    margin-top: 20px;
  }

  .up {
    margin-bottom: 0;
  }

  .extra-link {
    color: #fff;
    display: block;
    margin-bottom: 10px;
  }

  .main-header {
    position: fixed;
    width: 100%;
    z-index: 99;
  }

  .main {
    padding-top: 90px;
  }

  .storage-card-first {
    margin-bottom: 50px;
  }

  .storage__title {
    padding-top: 0;
  }

  .about-shop__mobile-img {
    display: block;
  }
  .about-shop__mobile-img img {
    max-width: 100%;
    margin-bottom: 50px;
  }

  .about-shop__img {
    display: none;
  }
}
@media (max-width: 480px) {
  .product-card-filter {
    width: 100%;
  }

  .modal-body {
    padding: 20px 15px;
  }

  .modal-form__title {
    font-size: 24px;
  }

  .modal-body .form-card__label {
    margin-bottom: 15px;
  }

  .about-shop__mobile-img img {
    margin-bottom: 0px;
  }

  .about-shop {
    margin-bottom: 40px;
  }

  .about-shop__mobile-img {
    display: none;
    margin-bottom: 30px;
  }
  .about-shop__mobile-img img {
    max-width: 100%;
  }

  .about-shop__mobile-img {
    display: block;
  }

  .about-shop__img {
    display: none;
  }

  .about-shop__content {
    max-width: 100%;
    flex: 1;
  }

  .about-shop__title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .about-shop__text {
    font-size: 16px;
  }

  .storage__title {
    margin-bottom: 30px;
    font-size: 32px;
  }

  .storage-card__title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .storage-card {
    padding: 30px 15px;
  }

  .storage-card__item p {
    font-size: 14px;
  }

  .storage-card__item:last-child {
    margin-bottom: 0;
  }

  .mobile-product-title h2 {
    font-size: 24px;
  }

  .main {
    padding-top: 70px;
  }

  .product-card-filter__container {
    max-width: 1000%;
    flex: 1;
  }

  .product-item-card__img {
    padding-bottom: 20px;
  }

  .characteristics {
    padding-left: 15px;
    padding-right: 15px;
  }

  .tab-content__item {
    padding-left: 15px;
    padding-right: 15px;
  }

  .mobile-product-item-accord {
    display: block;
  }

  .breadcrumbCustom {
    margin-bottom: 5px;
  }

  .product-card-filter__title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .product-card-filter__accord .card-header .btn-link {
    font-size: 14px;
  }

  .product-card-filter__btn {
    font-size: 16px;
  }

  .product-card-filter__subtitle {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .product-card-filter {
    padding-bottom: 20px;
    margin-bottom: 0;
  }

  .product-card-filter__container {
    margin-bottom: 20px;
  }

  .big-btn {
    margin-bottom: 70px;
    margin-top: 50px;
  }

  .filter-title {
    font-size: 32px;
  }

  .mobile-products-count {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .filter-title-row {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .allfilter-mobile {
    font-size: 18px;
  }

  .mobile-menu-list {
    margin-left: 15px;
    margin-right: 15px;
  }

  .mobile-menu-contacts {
    margin-left: 15px;
    margin-right: 15px;
  }

  .swiper-slide {
    display: block;
  }

  .footer__logo {
    padding: 0 15px;
  }

  #footer-accordion {
    padding: 0 15px;
  }

  .footer-mobile-left-col {
    padding: 0 15px;
  }

  .up-row {
    max-width: 100%;
  }

  .main-header {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .up-col-mobile {
    padding-right: 0px;
  }

  .slide__text {
    margin-left: 0;
    margin-top: 30px;
    text-align: center;
    padding-left: 0;
    margin-bottom: 35px;
  }

  .slide__title {
    font-size: 32px;
    margin-bottom: 0px;
  }

  .slide__list li {
    font-size: 16px;
  }

  .sale {
    top: 0;
    left: 40%;
  }

  .swiper-slide {
    background-position: center;
  }

  .main-slider-sect .swiper-button-next, .main-slider-sect .swiper-button-prev {
    display: none;
  }

  .product-card {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 25px;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 16px;
  }

  .main-nav__logo img {
    max-width: 114px;
  }

  .product-card__title {
    font-size: 24px;
    margin-bottom: 3px;
  }

  .product-card__text {
    padding-bottom: 30px;
  }

  .main-page-products {
    margin-bottom: 55px;
  }

  .features {
    padding-top: 50px;
  }

  .features-item__icon {
    margin-bottom: 10px;
  }

  .features-item__title {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .features-item__text {
    font-size: 14px;
  }

  .parenters__text {
    margin-bottom: 50px;
  }

  .scroll-line {
    margin-bottom: 60px;
  }

  .scroll-line-item {
    width: 140px;
  }

  .partners__title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .partners__subtitle {
    font-size: 16px;
  }

  .contacts__title {
    margin-bottom: 35px;
    font-size: 24px;
  }

  .contacts-row {
    display: none;
  }

  .contacts-row-mobile {
    display: block;
    margin-top: 0;
  }

  .contact-col {
    max-width: 100%;
    flex: 1;
    margin-bottom: 40px;
  }

  .contacts__label {
    margin-bottom: 15px;
  }

  #map {
    margin-bottom: 50px;
  }

  .footer__logo {
    margin-bottom: 16px;
  }

  .up .b-bottom {
    font-size: 16px;
    border-bottom: none;
  }

  .img-btn svg {
    display: none;
  }

  .basket-tabs {
    display: none;
  }

  .mobile-product-item-accord {
    background: #fff;
    width: 100%;
    border-radius: 10px;
    color: #141414;
  }

  #product-item-accordion .card {
    border-radius: 10px;
    border: none;
    margin-bottom: 70px;
  }
  #product-item-accordion .card-header {
    padding: 0;
    background: none;
    border: none;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid #E8E8E8;
  }
  #product-item-accordion .btn-link {
    width: 100%;
    text-align: left;
    padding-left: 0;
    padding-right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #5176A2;
    font-size: 16px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 15px;
  }
  #product-item-accordion .btn-link:hover {
    text-decoration: none;
  }

  #product-item-accordion .card-body {
    padding-left: 15px;
    padding-right: 15px;
  }

  .tab-photo {
    display: block;
  }
  .tab-photo .photo-card {
    flex: 1;
    max-width: 100%;
    margin-bottom: 10px;
  }
  .tab-photo img {
    width: 100%;
  }

  .mobile-menu {
    top: 75px;
  }
}
@font-face {
  font-family: "Gilroy regular";
  src: url("../assets/fonts/Gilroy-Regular.eot") format("eot"), url("../assets/fonts/Gilroy-Regular.woff") format("woff"), url("../assets/fonts/Gilroy-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Gilroy Medium";
  src: url("../assets/fonts/Gilroy-Medium.eot") format("eot"), url("../assets/fonts/Gilroy-Medium.woff") format("woff"), url("../assets/fonts/Gilroy-Medium.ttf") format("ttf");
}

/*# sourceMappingURL=style.css.map */
